body {
    font-family: $font_family;
    font-size: $base_font_size;
    background-image: url('../img/sfondo.png');
}

button {
    padding: $button_padding;
    color: $button_color;
    border: 1px solid $button_border;
    background-color: $button_bg;
    cursor: pointer;
    @include border-radius(8px);

    &:hover {
        color: $button_hover_color;
        border-color: $button_hover_color;
        background-color: $button_hover_bg;
    }
}
