$font_family: 'Open Sans', sans-serif;
$base_font_size: 16px;
$light_font_color: #a0aec0;
$margin-base: 35px;

$button_padding: 8px 16px;

$button_color: rgb(74,85,104);
$button_border: #e2e8f0;
$button_bg: transparent;

$button_hover_color: #4299e1;
$button_hover_border: rgb(160,174,192);
$button_hover_bg: rgb(237,242,247);
